/* ---NAVBAR------------------------------------------------------------------------- */
.navbar{
  position: relative;
  padding: 0.5rem 1rem;
}
.navbar::after {
  content: '';
  display: table;
  clear: both;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.8);
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}  
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.navbar-brand{
  float: left;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}
.navbar-brand {
  font-family:
    titillium web,
    sans-serif;
  font-size: 1.5rem !important;
  padding-top: 0 !important;
  margin-right: 2rem !important;
  color: #5cb85c !important;
}
.nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0px;
}
.navbar-nav .nav-item {
  float: left;
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem;
}
.navbar-nav .nav-link {
  display: inline-flex;
  align-items: center;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}
.navbar-nav .nav-link + .nav-link {
  margin-left: 1rem;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .open > .nav-link:focus,
.navbar-light .navbar-nav .open > .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover {
  color: rgba(0, 0, 0, 0.8);
}
.nav-link:hover {
  transition: 0.1s all;
}
.pull-xs-right {
  float: right !important;
}
.nav-link {
  display: inline-block;
}
/* ---------------------------------------------------------------------------- */

/* ---FOOTER------------------------------------------------------------------------- */
.attribution {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.8rem;
  color: #bbb;
  font-weight: 300;
}
footer {
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  // position: absolute;
  // bottom: 0;
  width: 100%;
}
/* ---------------------------------------------------------------------------- */

/* ---MAIN------------------------------------------------------------------------- */
.home-page .banner {
  background: #5cb85c;
  box-shadow:
    inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}
.home-page .banner p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 0;
}
.home-page .banner h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700 !important;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}
.home-page .sidebar {
  padding: 5px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
}
.home-page .sidebar p {
  margin-bottom: 0.2rem;
}
.home-page .feed-toggle {
  margin-bottom: -1px;
}
.banner {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}
.banner h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}
.article-page .banner {
  padding: 2rem 0;
}
.article-page .banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
}
.article-page .banner .btn {
  opacity: 0.8;
}
.article-page .banner .btn:hover {
  transition: 0.1s all;
  opacity: 1;
}
.article-page .banner .article-meta {
  margin: 2rem 0 0;
}
.article-page .banner .article-meta .author {
  color: #fff;
}
.article-page .article-actions .article-meta .info {
  text-align: left;
}
// .logo-font{}
.container.page {
  margin-top: 1.5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 75%;
  max-width: 75%;
}
.home-page .feed-toggle {
  margin-bottom: -1px;
}
.nav-pills::after {
  content: '';
  display: table;
  clear: both;
}
.nav-pills .nav-item {
  float: left;
}
.nav-pills .nav-item + .nav-item {
  margin-left: 0.2rem;
}
.nav-pills .nav-link {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
}
.nav-pills.outline-active .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
}
.nav-pills.outline-active .nav-link:hover {
  color: #555;
}
.nav-pills.outline-active .nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}
.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}
.article-preview .article-meta {
  margin: 0 0 1rem;
}
.article-preview .preview-link h1 {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  margin-bottom: 3px;
}
.article-preview .preview-link p {
  font-weight: 300;
  font-size: 24px;
  color: #999;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
}
.article-preview .preview-link span {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
}
.article-preview .preview-link ul {
  float: right;
  max-width: 50%;
  vertical-align: top;
}
.article-preview .preview-link ul li {
  font-weight: 300;
  font-size: 0.8rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}
.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.article-meta .info .author {
  display: block;
  font-weight: 500 !important;
}
.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}
.btn {
  display: inline-flex;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover {
  text-decoration: none;
}
.btn.focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
}
.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}
.btn-outline-primary {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-outline-primary:active:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active:hover,
.btn-outline-primary.active:focus,
.btn-outline-primary.active.focus,
.open > .btn-outline-primary.dropdown-toggle:hover,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #2d672d;
}
.btn-outline-primary.disabled:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary:disabled:focus,
.btn-outline-primary:disabled.focus {
  border-color: #a3d7a3;
}
.btn-outline-primary.disabled:hover,
.btn-outline-primary:disabled:hover {
  border-color: #a3d7a3;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.preview-link {
  color: inherit !important;
}
.preview-link:hover {
  text-decoration: inherit !important;
}
ul.tag-list {
  padding-left: 0 !important;
  display: inline-block;
  list-style: none !important;
}
ul.tag-list li {
  display: inline-block !important;
}
.tag-default {
  background-color: #818a91;
}
.tag-default[href]:focus,
.tag-default[href]:hover {
  background-color: #687077;
}
.tag-default {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
}
.tag-default:hover {
  text-decoration: none;
}
.tag-default.tag-outline {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: 0 0 !important;
}
.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  border-width: 0;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.page-item {
  display: inline;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #5cb85c;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.page-link:focus,
.page-link:hover {
  color: #3d8b3d;
  background-color: #eceeef;
  border-color: #ddd;
}
.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}
/* ---------------------------------------------------------------------------- */